.cart {
  margin-top: 100px;
}

.cart-items {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
}

.cart-items th {
  background-color: #2ecc71;
  color: white;
}

.cart-items td:first-child,
.cart-items th:first-child {
  width: 80px; /* Adjust as needed */
  min-width: 80px;
  max-width: 100px;
  overflow: hidden;
  white-space: nowrap;
}

.cart-items th,
.cart-items td {
  padding: 12px;
  border: 1px solid #ddd;
}

/* Align first two columns to the left */
.cart-items td:nth-child(-n + 2),
.cart-items th:nth-child(-n + 2) {
  text-align: left;
}

/* Align last three columns to the center */
.cart-items td:nth-child(n + 3),
.cart-items th:nth-child(n + 3) {
  text-align: center;
}

.cart-items td:last-child {
  font-size: 12px;
  cursor: pointer;
}

.cart-item-image {
  width: 65px;
  height: 65px;
  object-fit: cover;
  border-radius: 2px;
}

.cart .cart-bottom {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  gap: max(12vw, 20px);
}

.cart-total {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cart-total-details {
  display: flex;
  justify-content: space-between;
  color: #555;
}

.cart-total hr {
  margin: 10px 0px;
}

.cart-total button {
  border: none;
  color: white;
  background-color: #2ecc71;
  width: max(15vw, 200px);
  padding: 12px 0px;
  border-radius: 4px;
  cursor: pointer;
}

.cart-promocode {
  flex: 1;
}

.cart-promocode p {
  color: #555;
}

.cart-promocode-input {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eaeaea;
  border-radius: 4px;
}

.cart-promocode-input input {
  background: transparent;
  border: none;
  outline: none;
  padding-left: 10px;
}

.cart-promocode-input button {
  width: max(10vw, 150px);
  padding: 12px 5px;
  background-color: #2ecc71;
  border: none;
  color: white;
  border-radius: 4px;
}

/* Fade-out animation when removing an item */
@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-20px);
  }
}

/* Apply the animation to the row before it's removed */
.fade-out {
  animation: fadeOut 0.5s ease forwards;
}

@media (max-width: 750px) {
  .cart-bottom {
    flex-direction: column-reverse;
  }
  .cart-promocode {
    justify-content: start;
  }
}
